/* ==========================================================================
   Dark skin, based on the Minimal Mistakes skin
   ========================================================================== */

/* Color codes used for the theme */
$flashy                     : #e05e13;

$background                 : #252a34;
$background-light           : mix(#fff, $background, 20%);
$background-dark            : mix(#000, $background, 30%);

$text                       : #eaeaea;

$link                       : $flashy;
$link-hover                 : #a9e013; /*mix(#fff, $link, 25%); */


/* Color codes used for the site */
$danger-color               : #f700ff;
$info-color                 : #fbff00;
$notice-color               : #7a8288;
$success-color              : #62c462;
$warning-color              : #f80606;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Dark theme for the site */
html[data-theme="dark"] {
    --global-base-color                 : #{$background-dark};  /* for interactive elements */
    --global-bg-color                   : #{$background};  /* for all backgrounds except header and footer */
    --global-header-bg-color            : #{$background-dark};
    --global-footer-bg-color            : #{$background-dark};
    --global-border-color               : #{$flashy};
    --global-profilepic-border-color    : #{$background};  /* the circle around the profile picture */
    --global-footer-border-color        : #{$background-light};
    --global-code-background-color      : #fafafa;
    --global-code-text-color            : #{$text};
    --global-fig-caption-color          : #{$flashy};
    --global-link-color                 : #{$link};
    --global-link-color-hover           : #{$link-hover};
    --global-masthead-link-color        : #{$text};
    --global-masthead-link-color-hover  : #{$flashy};
    --global-text-color                 : #{$text};
    --global-text-color-light           : #{$text};
}